<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cedar.HttpCommandHandling" version="0.6.0" targetFramework="net451" />
  <package id="Cedar.HttpCommandHandling.Client" version="0.6.0" targetFramework="net451" />
  <package id="EventStore.Client" version="3.0.1" targetFramework="net451" />
  <package id="EventStore.Client.Embedded" version="3.0.1" targetFramework="net451" />
  <package id="FluentAssertions" version="3.2.2" targetFramework="net451" />
  <package id="Microsoft.Owin" version="3.0.0" targetFramework="net451" />
  <package id="NEventStore" version="5.1.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="NLog" version="3.2.0.0" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
  <package id="Rx-Core" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net451" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net451" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net451" />
  <package id="xunit" version="1.9.2" targetFramework="net451" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net451" />
</packages>